#show-price {
  display: none;
  font-family: monospace;
}
.custom {
  font-weight: bold;
  color: darkgreen;
}
.well {
  background-color: transparent;
}
#gift {
  display: none;
  color: white;
  background-color:darkred;
}

h1 {
  color: darkred;
}


.row {
  font-family: monospace;
  font-size: 18px;

}

.size{
  font-size:18px;
}
body {
  background-image: url(/Users/serhiy/Desktop/pizza/img/pizza.jpg);
}

h3 {
  font-size: 30px;
}
.btn {
  background-color:darkgreen;
  font-size: 18px;
  color: white;

}
