#show-price {
  display: none;
  font-family: monospace;
}
.custom {
  font-weight: bold;
  color: darkgreen;
}
.well {
  background-color: transparent;
}
#gift {
  display: none;
  color: white;
  background-color:darkred;
}
.pizza-container {
  margin-top: 2em;
}
h1 {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: darkred;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.row {
  font-family: monospace;
  font-size: 18px;

}

.size{
  font-size:18px;
}
body {
  background-image: url(../img/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #9F9F9F;
}

h3 {
  font-size: 30px;
}
.btn {
  background-color:darkgreen;
  font-size: 18px;
  color: white;

}
